nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
